.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem;
    background-color: var(--bg-color);
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}
.about-content{
    display: flex;
    gap:10px;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--bg-color);
    width: 100%;
    
}
.about-content .card{
    width: 50%;
    height: 50%;
    background-color: var(--bg-color);
}
.about-text{
    width: 50%;
    height: 50%;
    background-color: var(--bg-color);
    text-wrap: wrap;
}
.about-text span{
    color: var(--accent-color);
    text-shadow: var(--glow);
    font-size: 1.5rem;
    font-weight: bold;
    font-family: var(--font);
    text-transform: uppercase;
    padding: 10px;
}
.about-image {
  width: 70%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-image img {
    width: 300px;
    height: 300px;
    padding:10px;
    border-radius: 50%;
    /* name   duration timing‑fn delay iteration‑count fill‑mode */
    animation: animate_background 2s   linear     0.2s  infinite        forwards;
}

@keyframes animate_background {
  0%, 100% { background: var(--highlight-color); 
}
  50%      { background: var(--accent-color)}
}
/*small screen*/
@media (max-width:800px) {
  .about-content{
    flex-direction: column;
    width: 100%;
  }
  .about-content .card{
    width: 100%;
    height: 100%;
  }
  .about-text{
    width: 100%;
    height: 100%;
  }
  .about-image {
    width: 100%;
    height: 100%;
  }
  .about-image img{
    width:250px;
    height: 250px;
  }
}
@media (max-width:400px) {
  .about-image img{
    width:150px;
    height: 150px;
    padding:0
  }
}