.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--bg-color);
    flex-direction: column;
    width: 100%;
    margin: 20px auto;
}
.about-content{
    display: flex;
    gap:10px;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--bg-color);
    width: 100%;
    
}
.about-content .card{
    width: 50%;
    height: 50%;
    background-color: var(--bg-color);
}
.about-text{
    width: 50%;
    height: 50%;
    background-color: var(--bg-color);
    text-wrap: wrap;
}
.about-text span{
    color: var(--accent-color);
    text-shadow: var(--glow);
    font-size: 1.5rem;
    font-weight: bold;
    font-family: var(--font);
    text-transform: uppercase;
    padding: 10px;
}
